<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>ToDo Application
  </title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <div id="app" class="container">
    <h1>ToDo List
    </h1>
    <form v-on:submit.prevent>
      <input type="text" v-model="newItem">
      <button v-on:click="addItem">
        Add
      </button>
    </form>
    <ul>
      <li v-for="(todo,index) in todos">
        <input type="checkbox" v-model="todo.isDone" class="box">
        <span v-bind:class="{done: todo.isDone}">{{todo.item}}
        </span>
        <button v-on:click="deleteItem(index)">
          Delete
        </button>
      </li>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="js/main.js"></script>
</body>

</html>